.container-fluide{
  background:#000;
  height:70vh;
  width:80%;
}

.container{
  width:80%;
  margin:0 auto;
  background-color:;
}

.flex{
  display:flex;
}

.container-titre{
  background-color:;
  height:70vh;
  width: 50%;
  text-align:center;
  padding:100px;
}
.container-image{
  background-color:pink;
  height: 70vh;
  width:50%;
}
.title{
  font-size: 3em;
}

.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}
.background-yellow{

}
.yellow{
  color: yellow;
}

.font-light{
  font-weight: 100;
}
